<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>IndusBlog</title>
        <link rel="stylesheet" href="{{ asset('build/IndusBlog_vue/app.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>

    <body>
            {% verbatim %}
        	    <div id="app">
        	    </div>
        	{% endverbatim %}
    </div>
    {% include 'IndusBlogBundle:vue-app:data-layout.html.twig' %}

    <script src="{{ asset('build/IndusBlog_vue/app.js') }}"></script>
    </body>
</html>
