@font-face {
    font-family: Nexa_Bold;
    src: url("../fonts/nexa/Nexa-Bold.otf");
}
@font-face {
    font-family: Avenir_Roman;
    src: url("../fonts/avenir/AvenirLTStd-Roman.otf");
}
@font-face {
    font-family: Avenir_Medium;
    src: url("../fonts/avenir/AvenirLTStd-Medium.otf");
}
@font-face {
    font-family: Avenir_Black;
    src: url("../fonts/avenir/AvenirLTStd-Black.otf");
}