$dark: #311433;
$dark2: #080308;

$light: #F1EAF1;
$light2: #E3D9E3;

$purple: #7B1B67;
$purple2: #5A144B;

$accent-yellow: #FFB128;
$accent-yellow2: #E59F25;

$accent-purple: #C477BD;
$accent-purple2: #A3649E;

$white: #ffffff;
$black: #000000;